#这些后缀的文件可以全部忽略
*.obj
*.lst
*.map
*.gas
*.hrb
*.nas
*.sys
*.bim

boot/*.bin
kernel/*.bin
miniOS.img
fdimage0.bin

#以下文件需要上传
!bootsector.nas
!head.nas
!io.nas
!asm.nas
!page.nas

#希望这些后缀的文件上传
!*.exe
!*.lib
!*.dll